<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-3">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                
                                {{ form.city }}
                                {{ form.errors }}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>

<section class="section">

    {% for data in city_data %}
    <div class="column is-offset-3 is-half">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="Weather Icon">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title">{{ data.city_name }}</span>
                            <br>
                            <span class="subtitle">{{ data.temperature }}° C</span>
                            <br> {{ data.description }}
                        </p>
                    </div>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="subtitle"> Pressure {{ data.pressure }} hPA</span>
                            <br>
                            <span class="subtitle"> Humidity {{ data.humidity }}%</span>
                            <br>
                            <span class="subtitle"> Visibility {{ data.visibility }} m</span>
                            <br>
                            <span class="subtitle"> Wind Speed {{ data.wind_speed }} m/s</span>
                            <br>
                            <span class="subtitle"> Direction {{ data.wind_deg }}° </span>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    {% endfor %}

    <div class="container">
        <div class="columns is-multiline">
            {% for weather in weather_data %}
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Weather Icon">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city_name }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

    <footer class="footer">
    </footer>
</body>
</html>